.videos-list
	display: inline-flex
	width: calc(25%)
	max-width: 400px
	flex-direction: column
	justify-content: flex-start
	
	.video-block
		display: inline-flex
		width: calc(100% - 10px)
		background-color: rgba(255,255,255,0.2)
		margin-bottom: 10px
		flex-direction: rows
	
		>.user-profile
			display: inline-flex
			flex-direction: column
			width: 60px
			align-items: center

			>img.user-picture
				width: 30px
				height: 30px
				border-radius: 50%
		
		.description
			display: inline-flex
			flex-direction: column

			>.user-name
				display: inline-flex
				justify-content: flex-start
				font-size: 12px
			>.text
				display: inline-flex
				justify-content: flex-start