<!DOCTYPE html>
<html>
<head>
	<title>little painter</title>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div id="app">
		<div id="painting-board">
			<div class="pixel" v-for="i in pixels"
			:style="i.style" 
			v-on:mousedown="paintColor(i)" v-on:mouseover="keepDrawing(i)"
			></div>
			
		</div>
		<div id="color-board">
			<div class="color" v-for="i in colors" :style="i.style"
			v-on:click="changeColor(i)"
			>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript" src="js/index.js"></script>
</html>