<!DOCTYPE html>
<html>
<head>
	<title>little painter</title>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
</head>
<body>
	<div id="app">
		<div id="painting-board">
			<div class="pixel" v-for="(i,index) in pixels"
			:style="i.style" 
			v-on:mousedown="paintColor(i,index)" v-on:mouseover="keepDrawing(i,index)"
			></div>
			
		</div>
		<div id="color-board">
			<div class="color" v-for="i in colors" :style="i.style"
			v-on:click="changeColor(i)"
			>
			</div>
		</div>
		<button v-on:click="confirmForm()">click</button>
		<div id="uploadform" :style="uploadFormBox">
			<input type="" name="" placeholder="input your name" v-model="inputData.name">
			<input type="" name="" placeholder="add a title of your painting" v-model="inputData.title">
			<button v-on:click="submit">submit</button>
		</div>
		<img src="" id="image">
	</div>

</body>
<script type="text/javascript" src="js/index.js"></script>
</html>