<!DOCTYPE html>
<html>
<head>
	<title>little painter</title>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
</head>
<body>
	<div id="app">
		<header>
			<div class="container">
				<div id="home" v-on:click="toHomePage">
					<img src="./img/home.png">
				</div>
				<div id="drawing">
					<a v-on:click="changeToDrawingPage">drawing</a>
				</div>
			</div>
		</header>
		<div class="container" :style="background">
			<div id="painting-board">
				<div class="pixel" v-for="(i,index) in pixels"
				:style="i.style" 
				v-on:mousedown="paintColor(i,index)" v-on:mouseover="keepDrawing(i,index)"
				></div>
				
			</div>
			<div id="color-board">
				<div class="color" v-for="i in colors" :style="i.style"
				v-on:click="changeColor(i)"
				>
				</div>
			</div>
			<div class="buttons">
				<button v-on:click="erase()" id="erase">clear</button>
				<button v-on:click="confirmForm()" id="finish">finish</button>
			</div>
		</div>
		<div id="uploadform" :style="uploadFormBox">
			<input type="" name="" placeholder="who are you" v-model="inputData.name">
			<input type="" name="" placeholder="add a title" v-model="inputData.title">
			<div class="buttons">
				<button v-on:click="cancel">cancel</button>
				<button v-on:click="submit">submit</button>
			</div>
		</div>
		<div id="loading" :style="loadingStyle">loading...</div>
		<div id="paintings-board" :style="firstPage">
			<div class="container">
				<div class="painting" v-for="i in paintings">
					<div class="header">
						<div class="name">
							{{i.name}}
						</div>
						<div class="title">
							#{{i.title}}
						</div>
					</div>
					<div class="img">
						<img :src="i.imgUrl">
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript" src="js/index.js"></script>
</html>