

html,body{
	padding: 0;
	margin: 0;
}

#app{
	display: inline-flex;
	width: 100%;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f8f8f8;
}

#painting-board{
	display: inline-flex;
	width: 600px;
	flex-wrap: wrap;
	margin-top: 50px;
	box-shadow: 3px 3px 6px gray;
}

#painting-board .pixel{
	display: inline-flex;
	width: 6px;
	height: 6px;
	border: none;
}

#painting-board .pixel:hover{
	background-color: gray;
}

#color-board{
	display: inline-flex;
	margin-top: 20px;
	padding: 10px;
}

#color-board .color{
	display: inline-flex;
	width: 20px;
	height: 20px;
	margin: 5px;
	border-radius: 50%;
}


#color-board .color:hover{
	padding: 1px;
}

#image{
	width: 600px;
	height: 480px;
}

#uploadform{
	position: fixed;
	transform: translateX(-50%);
	left: 50%;
	top: 200px;
	display: inline-flex;
	width: 200px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: white;
}

#uploadform > input {
	width: calc(100% - 10px);
	height: 40px;
	border-radius: 10px;
	border: 1px solid #f8f8f8;
	padding: 0px 5px;
	margin-bottom: 5px;
}

#uploadform > button {
	align-self: flex-end;
	width: 80px;
	padding: 10px;
	border-radius: 5px;
	background-color: #7394D2;
	border: none;
	color: white;
}